affine==2.4.0
attrs==23.1.0
boto3==1.26.145
botocore==1.29.145
certifi @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_b64zphacdv/croot/certifi_1683875375103/work/certifi
click==8.1.3
click-plugins @ file:///Users/ktietz/demo/mc3/conda-bld/click-plugins_1630665883852/work
cligj==0.7.2
contourpy==1.0.7
cycler==0.11.0
dash==2.10.0
dash-bootstrap-components==1.4.1
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-leaflet==0.1.23
dash-table==5.0.0
Fiona==1.9.4.post1
Flask==2.2.3
fonttools==4.39.4
geobuf==1.1.1
geopandas==0.13.0
itsdangerous==2.1.2
Jinja2 @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_6adj7x0ejx/croot/jinja2_1666908137966/work
jmespath==1.0.1
kiwisolver==1.4.4
MarkupSafe==2.1.2
matplotlib==3.7.1
minio==7.1.15
mkl-fft==1.3.6
mkl-random @ file:///Users/ec2-user/mkl/mkl_random_1682994911338/work
mkl-service==2.4.0
numpy @ file:///Users/ec2-user/mkl/numpy_and_numpy_base_1682973769567/work
packaging==23.1
pandas==2.0.2
Pillow==9.5.0
plotly==5.14.1
protobuf==4.23.2
pyparsing==3.0.9
pyproj==3.5.0
python-dateutil @ file:///tmp/build/80754af9/python-dateutil_1626374649649/work
python-dotenv==1.0.0
pytz==2023.3
rasterio==1.3.7
rioxarray==0.14.1
s3transfer==0.6.1
shapely @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_73st2w3xix/croot/shapely_1680636308240/work
six @ file:///tmp/build/80754af9/six_1644875935023/work
snuggs==1.4.7
tenacity @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_cct5tq4h70/croot/tenacity_1682972283326/work
tzdata==2023.3
urllib3==1.26.16
Werkzeug @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_fegt3z60s3/croot/werkzeug_1679489762631/work
xarray==2023.5.0
